<div id="footerContainer" class="constrained-xl">
    <div id="contactsSection">
        <ul>
            <li class="address">Str. Mouzinho de Albuquerque <br> 8000-000 Faro</li>
            <li class="phone"><a href="tel:+351 289 123 456">+351 289 123 456</a></li>
            <li class="email"><a href="mailto:info@travelagency.com">info@travelagency.com</a></li>
        </ul>
    </div>
    <div id="socialSection">
        <a class="socialBtn fa fa-facebook" href="http://facebook.com" target="_blank"></a>
        <a class="socialBtn fa fa-twitter" href="http://twitter.com" target="_blank"></a>
        <a class="socialBtn fa fa-pinterest" href="http://pinterest.com" target="_blank"></a>
        <a class="socialBtn fa fa-instagram" href="http://instagram.com" target="_blank"></a>
        <a class="socialBtn fa fa-tumblr" href="http://tumblr.com" target="_blank"></a>
    </div>
    <div id="logoSection">
        <img id="footerLogo" class="grayscale" src="images/logo/logo_large.png">
    </div>
</div>